<!DOCTYPE html>
<html>
<head>
    <title>Real estate price Prediction</title>
</head>
<body>
    <h1>Price Prediction</h1>
    <form method = "POST">
        transaction_date: <input type="text" name="transaction_date"><br>
        house_age: <input type="text" name="house_age"><br>
        distance_to_nearest_station: <input type="text" name="distance_to_nearest_station"><br>
        number_of_convenience_stores: <input type="text" name="number_of_convenience_stores"><br>
        latitude: <input type="text" name="latitude"><br>
        longitude: <input type="text" name="longitude"><br>     
        <input type="submit" value="Submit">
    </form>
    <h2>Predicted Price</h2>
    <p>
        according to the given values it's most likely : {{ output }}
    </p>
</body>
</html>