<!DOCTYPE html>
<html>
<head>
    <title>Nectar Prediction</title>
</head>
<body>
    <h1>Nectar Prediction</h1>
    <form method = "POST">
        habitat: <input type="text" name="habitat"><br>
        bagging_hour: <input type="text" name="bagging_hour"><br>
        collection_hour: <input type="text" name="collection_hour"><br>
        temp: <input type="text" name="temp"><br>
        hum: <input type="text" name="hum"><br>
        sugarin24: <input type="text" name="sugarin24"><br>
        bagging_unbagged: <input type="text" name="bagging_unbagged"><br>
        rinsing_Y: <input type="text" name="rinsing_Y"><br>
        flower_age_o: <input type="text" name="flower_age_o"><br>
        flower_age_y: <input type="text" name="flower_age_y"><br>
        flower_sex_h: <input type="text" name="flower_sex_h"><br>
        flower_sex_m: <input type="text" name="flower_sex_m"><br>          
        <input type="submit" value="Submit">
    </form>
    <h2>Predicted nectar max</h2>
    <p>
        according to the given values it's most likely : {{ output }}
    </p>
</body>
</html>